<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Member</title>
    </head>
<body>

<h1>Member</h1>
<table border="1">
    {% for m in members  %}
    <tr>
        <td><a href="update/{{m.id}}">{{m.id}}</a></td>
        <td>{{m.id}}</td>
        <td>{{m.first_name}}</td>
        <td>{{m.last_name}}</td>
        <td><a href="delete/{{ m.id }}">delete</a></td>
    </tr>
    {% endfor %}
</table>
<p>
    <a href="add-member/">Add member</a>
</p>
</body>
</html>